@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
/* Imported Teko font from fonts.google.com */

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
/* Imported Tektur font from fonts.google.com */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Imported Noto Sans font from fonts.google.com */

@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
/* Imported Poller One font from fonts.google.com */

p{
    font-family: "Teko", sans-serif; /* Font from fonts.google.com */
    font-size: 24px;
    font-weight: 450;
}

h1, h2, summary{
    font-family: "Tektur", sans-serif; /* Font from fonts.google.com */
    font-size: 2em;
}

summary{
    font-size: 1.4em;
}

a{
    font-family: "Noto Sans", sans-serif; /* Font from fonts.google.com */
    font-size: 30px;
}


td{
    font-family: "Poller One", serif; /* Font from fonts.google.com */
    font-size: 1.5em;
    padding-right: 10px;
}


table{
    margin-bottom: 20px;
}

/* FORM CSS */
input, textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 3px;
}

form{
    display: flex;
    width: 700px;
    margin: 0px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    align-content: center;
}

input[name="submit"]{
    font-family: "Noto Sans", sans-serif; /* Font from fonts.google.com */
}

/* Styling added during JavaScript course */


/* Cleans up video and image styling slightly */
#videos, #videos iframe{
    width: 660px;
    height: 371px;
    margin: auto;
    margin-bottom: 15px;
}

#images{
    width: 650px;
    height: 183px;
    display: flex;
    background-color: black;
    padding: 5px;
    margin: auto;
}

/* Used to style lightbox previews before opening */
.preview{
    height: 183px;
    width: 325px;
    padding: 2px 10px;
    object-fit: cover;
    box-sizing: border-box;
}

.preview-text{
    position: relative;
    width: 100px;
    height: 27px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    left: 50%;
    bottom: 37px;
    margin: 0;
    transform: translate(-50%);
    padding: 2px 5px;
    border-radius: 4px 4px 0 0;
    display: none;
}

.lightbox-preview{
    z-index: 2;
}

/* Hover effects for the previews */
.lightbox-preview:hover .preview{
    border: 2px solid white;
    padding: 0 8px;
}

.lightbox-preview:hover .preview-text{
    display: block;
}

/* Styling for lightbox */

.lightbox-open{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

.open{
    position: relative;
    height: 560px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
}

.one, .two{
    display: none;
}

.close{
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 2;
    font-size: 50px;
    color: white;
    cursor: pointer;
}