html{
    overflow-x: hidden;
    background-color: cadetblue;
    scroll-padding-top: 100px;
}

body{
    height: 100%;
}

/* NAVBAR */

nav{
    position: sticky;
    margin: -10px -20px 0px -10px;
    background-color: #1e1e1e;
    top: 0;
    left: 0;
    padding: 0px 0px;
    height: 82px;
    box-sizing: border-box;
    z-index: 5;
    border-bottom: 5px solid #c40818;
}

li{
    display: inline-flex;
    padding: 10px 0px;
}

.separator::after{
    content: "";
    width: 5px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    left: 2px;
    position: relative;
}

ul{
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    box-sizing: border-box;
    white-space: nowrap;
}

a{
    text-decoration: none;
    font-size: 40px;
    color: white;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 0.2s ease-out;
}

a:hover{
    font-size: 42px;
    background-color: black;
    border-radius: 3px;
    transition: background-color 0.2s ease-out;
}

/* GENERAL STYLING */

h2{
    position: absolute;
    align-self: center;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    padding: 5px 20px;
    background-color: #1e1e1e;
    border-radius: 3px;
}

.column:hover h2{
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.column:hover img{
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

.column img{
    transition: opacity 0.2s ease-out;
}

p:hover{
    text-decoration: underline;
}

#spidey{
    border-radius: 15px;
}

.container{
    position: relative;
    padding-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

div .container{
    width: 1000px;
    margin: auto;
}

#text-over-image{
    position: absolute;
    left: 380px;
    top: 435px;
    color: black;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

/* TABLE */

section table{
    margin: auto;
    margin-top: 18px;
    border-collapse: collapse;
    font-weight: 600;
    font-size: 27.25px;
}

section td{
    border: 2px solid hotpink;
    padding: 2px 5px;
}

section td:nth-child(1){
    background-color: mediumslateblue;
    color: white;
}

section td:nth-child(2){
    background-color: #c40818;
    color: blue;
}

section td:nth-child(3){
    background-color: black;
    color: red;
}

section td:nth-child(4){
    background-color: white;
    color: black;
}

#row-head td{
    background-color: mediumslateblue;
    color: white;
}

/* FILTERS */

.invert{
    filter: invert(0%);
    transition: 0.25s ease-out;
}

.invert:hover{
    filter: invert(100%);
    transition: 0.25s ease-out;
}


/* COLUMNS */

.row{
    position: relative;
    background-color: lightsteelblue;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
}

.column{
    position: relative;
    width: 50%;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    object-fit: cover;
    color: rgb(200, 0, 30);
    justify-content: center;
}

#gwen, #peter{
    width: 100%;
    aspect-ratio: 1/1.537;
}

#peter{
    height: 110%;
    aspect-ratio: 1/1.537;
}

/* FOOTER */

footer{
    position: relative;
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 0px 0px 20px 0px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    background-color: #1e1e1e;
    color: white;
    border-top: 5px solid rgb(200, 0, 30);
}

.footer-table{
    width: 50%;
}

.footer-td{
    width: 10%;
}